streamlit
pdfplumber
pandas
python-dotenv
groq

langchain
langchain_groq
langsmith

langchain-community
langchain-text-splitters

sentence-transformers
faiss-cpu

torch
transformers
sounddevice

pymupdf
